<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="" width="200"/>
</div>

<MudNavMenu>
    <MudNavLink Match="NavLinkMatch.All" Href="/" Icon="@Icons.Material.Filled.Store" IconColor="Color.Primary">Home</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/transactions" Icon="@Icons.Material.Filled.Store" IconColor="Color.Primary">Transactions</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/categories" Icon="@Icons.Material.Filled.Store" IconColor="Color.Primary">Categories</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/premium" Icon="@Icons.Material.Filled.WorkspacePremium" IconColor="Color.Primary">Premium</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/logout" Icon="@Icons.Material.Filled.Logout" IconColor="Color.Primary">Logout</MudNavLink>
</MudNavMenu>